* {
    margin: 0%;
    padding: 0%;
}
:root {
    --light: rgb(173, 208, 219)
}
body {
    background-color: rgba(187, 200, 216, 0.733);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgba(6, 38, 71, 0.705);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 20px;
}
header a {
    text-decoration:none;
    color:var(--light);
}
header h1 {
    font-style: italic;
    font-weight: bold;
    margin: 0px;
    font-size: 36px;
}
header nav {
    margin: 10px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 20px;
    color: var(--light);
    font-weight: bold;
    font-size: larger;
    font-style: italic;
}
.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../images/Head-image.jpg);
    background-size: cover;
    background-position: center;
    height: 15rem;
}
.hero-quote {
    color: var(--light);
    margin-top: 11rem;
    margin-left: 2rem;
}
.about {
    padding: 12px;
    font-size: 25px;
    color: rgba(95, 124, 153, 0.733);
}
.about h2 {
    text-decoration: underline;
    display: flex;
    padding: 10px;
    text-align: center;
}
.section-title {
    width: 40%;
    font-size: 45px;
}

.flex-container {
    display: flex;
    flex: 1;
    }
.work h2 {
    margin:2%;
    text-decoration: underline;
    text-align: left;
    padding: 12px;
    font-size: 45px;
    color: rgba(95, 124, 153, 0.733);
}
.work-grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows:repeat(4,auto);
    grid-gap: 5%;
    align-items: inline;
    justify-content: space-around;
}
.work-horiseon {
    grid-column: 2/4;
    grid-row: 1/4;
    width:80%;
    height:100%;
    padding: 2%;
    border-color:whitesmoke;
    border: solid;
    background-image: url(../images/Screen\ Shot\ 2020-12-10\ at\ 4.14.58\ PM.png);
    background-size: cover;
    color: whitesmoke;
    margin-top: 10%;
}
.work-run-buddy {
    grid-column: 4/4;
    grid-row: 4/4;
    width: 100%;
    height:100%;
    padding: 2%;
    border-color: whitesmoke;
    border: solid;
    background-image: url(../images/Screen\ Shot\ 2020-12-12\ at\ 4.30.42\ PM.png);
    background-size: cover;
    margin-top: 10%;
    color: whitesmoke;
}
.work-cinequiz {
    grid-column:1/4;
    grid-row: 4/4;
    width: 100%;
    height:90%;
    padding: 1rem;
    border-color: whitesmoke;
    border: solid;
    background-image: url(../images/cinequiz.png);
    background-size: cover;
    margin-top: 10%;
    color: whitesmoke;
}
.work a {
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: rgba(95, 124, 153, 0.733);
}

.contact {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.contact h2 {
    padding: 10px;
    display: flex;
    text-decoration: underline;
    color: rgba(95, 124, 153, 0.733);
}
.contact a {
    text-decoration: none;
    color: rgba(95, 124, 153, 0.733);
}
.contact nav {
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: rgba(95, 124, 153, 0.733);
    padding: 10px 0px;
    }
.contact nav ul li {
    display: inline;}

.contact nav ul li a {
    margin: 0px 20px;
    font-size: 25px;
}