body {
  margin: 0;
  background-color:#53a2beff;
  color: rgb(247, 241, 241);
  font-family: Arial, Helvetica, sans-serif;
}
.links{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  padding: 3%;
  background-color: #0a2239ff;
  margin-top: 0;
}


.linkers{
  text-decoration: none;
  color: whitesmoke;
 
}
.about-text{
  display: flex;
  justify-content: center;
  padding: 5%;
}
p{
  font-size: larger;
}
.drew {
  border-radius: 3%;
margin-left: 38%;
}
.container{
 display: flex;
 justify-content: center;
 margin-top: 3%;

}
.contact-forms{
  border:2px solid #132e32ff;
  border-radius:5%;
  padding: 3%;
}

.contact-box{
  padding: 6%;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
  margin-left: 25%;
	border: 1px solid #132e32ff;
  border-radius: 7%;
  color: whitesmoke;
	padding: 5%;
	font: inherit;
	cursor: pointer;
  background-color: rgb(51, 109, 141);
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #6ca0b4;
  color: white;
}
.Project{
  text-align: center;
}
.port-img{
  margin:0;
  max-height: 50%;
  max-width: 50%;
}
.proj-d{
  display: flex;
  justify-content: center;
  padding: 2%;
}